= simple_form_for @directory, html: { class: "form-horizontal", role: "form" } do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description

  %h3 Permissions
  %p
    #permissions
      = f.simple_fields_for :directory_permissions do |permission|
        = render 'directory_permission_fields', f: permission
      .links
        = link_to_add_association 'add permission', f, :directory_permissions

  .form-actions
    = f.button :submit
