.page-header
  = link_to directories_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_directory_path(@directory), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  = form_for [@directory, Item.new], multipart: true, html: { class: 'js-file-upload-form', data: { type: 'json' } } do |f|
    %span.btn.btn-success.fileinput-button.add
      %i.icon-picture
      Upload files
      = f.file_field :image, multiple: true, name: 'item[file]', class: 'js-file-uploader'
  %h1= @directory.name

%h3 Files

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th
        %th Name
        %th
        %th

    %tbody.js-files
      = simple_form_for @directory do |f|
        %p
          = f.submit 'Destroy'
        = f.simple_fields_for :items, @directory.items.order(created_at: :desc) do |item|
          = render 'items/item', item: item.object, f: item
