%h2 Welcome

%h3 Events

- if current_user
  - Ahoy::Event.where(user: current_user).order('time desc').each do |event|
    %p
      - case event.name
      - when 'directory:created'
        - directory = Directory.where(id: event.properties['directory']['id']).first
        - if directory
          User #{event&.user&.email} created folder #{link_to "#{event.properties['directory']['name']}", directory} at #{l event.time, format: :long}
        - else
          User #{event&.user&.email} created folder "#{event.properties['directory']['name']}" at #{l event.time, format: :long}
      - when 'directory:updated'
        - directory = Directory.where(id: event.properties['directory']['id']).first
        - if directory
          User #{event&.user&.email} updated folder #{link_to "#{event.properties['directory']['name']}", directory} at #{l event.time, format: :long}
      - when 'directory:destroyed'
        User #{event&.user&.email} destroyed folder #{event.properties['directory']['name']} at #{l event.time, format: :long}
      - when 'file:created'
        - item = Item.where(id: event.properties['id']).first
        - if item
          User #{event&.user&.email} created file #{link_to "#{event.properties['title']}", [item.directory, item]} at #{l event.time, format: :long}
      - when 'file:destroyed'
        User #{event&.user&.email} destroyed file #{event.properties['title']} at #{l event.time, format: :long}
      - else
        User make undocumented action!
