.page-header
  = link_to @directory, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  -#= link_to [:edit, @directory, @item], class: 'btn btn-primary' do
  -#  %span.glyphicon.glyphicon-pencil
  -#  Edit
  %h1 Show item

%dl.dl-horizontal
  %dt Name:
  %dd= @item.name


%h3 Labels
%p
  #labels
    = simple_form_for [@directory, @item] do |f|
      = f.input :id, as: :hidden
      = f.simple_fields_for :labels do |label_field|
        = render 'label_fields', f: label_field
      .links
        = link_to_add_association 'add label', f, :labels
      %p
        = f.submit
